@import "utils/vars"
@import "mixins/util"
@import "mixins/breakpoints"
@import "utils/reset"
@import "utils/animations"

html
    scroll-behavior: smooth
    scrollbar-width: thin
    scrollbar-color: $blue-600 $white

body::-webkit-scrollbar
    width: 0.5rem

body::-webkit-scrollbar-track
    background: $white

body::-webkit-scrollbar-thumb
    background:  $blue-600

body
    font-family: 'Roboto', sans-serif
    font-weight: $regular-text
    font-size: 16px
    line-height: 26px
    color: $blue-400
    position: relative

a
    color: $blue-400

    &:hover
        color: $blue-900

h1
    font-size: 25px
    font-weight: $medium-text
    line-height: 130%
    letter-spacing: 1px
    color: $blue-900

    +screen-up(sm)
        font-size: 35px

    +screen-up(md)
        font-size: 50px

h3
    font-weight: $medium-text
    font-size: 36px
    line-height: 130%
    color: $blue-900

.logo
    font-weight: $black-text
    font-size: 26px
    color: $blue-600
    pointer-events: none

.button
    display: block
    font-weight: $medium-text
    font-size: 12px
    line-height: 150%
    border-radius: 2px
    padding: 5px 0
    text-align: center

    &--main
        background-color: $blue-800
        color: $white

        &:hover
            color: $white

    &--white
        border: 2px solid $blue-900
        color: $blue-900

    &--sm
        width: 110px

    &--md
        width: 160px

    &--lg
        width: 190px
        font-size: 16px
        line-height: 160%

.header
    width: 100%
    padding: 40px 0 0
    position: absolute
    top: 0
    left: 0
    z-index: 20

    +screen-up(lg)
        padding: 20px 0 0

    & .logo
        position: absolute
        display: inline-block
        left: 50%
        transform: translate(-50%, -27px)

        +screen-up(lg)
            transform: translate(-50%, 0)

    & .nav-link
        padding: 0

    & .nav-link:hover
        font-weight: $regular-text

.hero
    position: relative
    background: $blue-100
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    overflow: hidden

    +screen-up(lg)
        background: url("../img/hero-bg.svg") no-repeat bottom right

    & .content
        position: relative
        z-index: 20

    & .title
        margin: 0 0 20px

    & .info
        margin: 0 0 30px

        +screen-up(sm)
            margin: 0 0 50px

        +screen-up(md)
            margin: 0 0 70px

.about
    padding: 50px 0

    +screen-up(sm)
        padding: 80px 0

    +screen-up(lg)
        padding: 110px 0

    & .title
        margin: 0 0 16px

    & .description
        margin: 0 0 30px

        +screen-up(sm)
            margin: 0 0 50px

        +screen-up(lg)
            margin: 0 0 80px

    & .content-card
        width: 48%

        & img
            margin: 0 0 14px

        & .title
            margin: 0 0 5px
            font-weight: $medium-text
            font-size: 16px
            line-height: 26px
            color: $blue-900

        & .description
            font-size: 12px
            line-height: 18px
            color: $grey-600
.gears,
.designer
    position: absolute

.gears
    right: 3%
    top: 20vh
    width: 11%
    height: 7%

.designer
    right: 0
    top: 40vh
    transform: translateX(25%)
    width: 40%
    height: 27%

#computer,
#gear-lg,
#gear-sm,
#tools,
#designer
    position: absolute
    z-index: 1

#computer,
#gear-lg,
#gear-sm,
#designer
    display: none

    +screen-up(lg)
        display: block

#tools
    display: none

    +screen-up(xl)
        display: block

#gear-sm
    bottom: 0
    right: 0
    animation: spin-back 10s linear infinite

#gear-lg
    top: 0
    left: 0
    animation: spin 20s linear infinite

#designer
    left: 25%
    top: 20%
    animation: designer-movement 10s linear infinite

#tools
    right: 30%
    top: 20vh

.feature
    padding: 30px 0

    +screen-up(sm)
        padding: 60px 0

    +screen-up(lg)
        padding: 130px 0

    & .title
        margin: 0 0 16px

    & .button
        margin: 40px 0 0

    & img
        margin: 40px 0 0

        +screen-up(lg)
            margin: 0

.offer
    position: relative
    padding: 100px 0 60px
    background: $blue-50

    +screen-up(sm)
        padding: 230px 0 170px

    +screen-up(lg)
        padding: 230px 0 170px

    & .title
        margin: 0 0 16px

    & .description
        margin: 0 0 35px

    & .price
        margin: 0 0 60px

    & .amount
        font-size: 50px
        line-height: 1.3
        letter-spacing: 1px
        color: $blue-700
        font-weight: $medium-text

    & .product-name
        font-size: 16px
        line-height: 26px
        color: $blue-600

    & .label
        margin: 0 0 10px
        font-size: 14px
        line-height: 1.7
        color: $grey-600

.shape-divider
    position: absolute
    top: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0

.shape-divider svg
    position: relative
    display: block
    width: calc(100% + 1.3px)
    height: 25px

    +screen-up(md)
        height: 53px

.shape-divider .shape-fill
    fill: #FFFFFF

footer
    position: relative
    padding: 68px 0 32px
    background: $blue-100

    & .brand
        margin: 0 0 20px
        padding: 0 0 40px
        border-bottom: 1px solid #CDD1D4

    & .logo
        position: absolute
        left: 50%
        transform: translate(-50%, -40px)

        +screen-up(md)
            transform: translate(-50%, 0)

    & .social-media a:not(:last-child)
        margin: 0 30px 0 0
